

<div class="container">
  <h1>All snippets</h1>
  <ul class="list">
    <li id="snippet-{{snippet._id}}" class="snippet" ng-repeat="snippet in snippets | filter: searchPhrase | limitTo: 10 | orderBy: 'date_created':true">
      <a class="title" href="/snippet/{{snippet._id}}">{{snippet.name}}</a>
      <span class="meta-date small">{{snippet.date_created | date}}</span>
      <div class="tags small">
        Tags:
        <ul class="tag-list">
          <li ng-repeat="tag in snippet.tags">
            <a href="/tag/{{tag}}">{{tag}}</a>
          </li>
        </ul>
      </div>
    </li>         
  </ul>
</div>
