.snippet {
	position: relative;
	
	h1 {
		margin-bottom:0.2em;
	}
	.body {
		margin-top:2em;

		ol li {
			list-style:decimal;
		}
		ul li {
			list-style:disc;
		}

		li {
			margin-bottom:10px;
		}
	}

	.tags {
		a {
			display:inline-block;
			margin-right:5px;
		}
	}
}